#top-section {
  background:lightblue;
  height:10%;
}
#main-picture {
  background:blue;
  height:100%;
}
#logo {
  height:100%;
  float:left;
}
#back-image {
  width:100%;
}
h1{
  float:right;
  width:80%;
  font-size:20px;
}
